/**
 * The following styles get applied in the editor
*/
body {
  .wp-block-maxgruson-multimedia-gallery {
    margin: 1em 0;
    max-width: 100%;
    &>ul {
      padding-left: 0;
      list-style-type: none;
      display: block;
      margin: 0 auto;
      overflow-x: scroll;
    }

    figcaption {
      margin: 1em 0 0;
    }
  }

  .wp-block-maxgruson-multimedia-gallery:not(.block-editor-block-list__block),
  .wp-block-maxgruson-multimedia-gallery .block-editor-block-list__layout {
    width: fit-content;
    margin: 0 auto;
    max-width: 800px;
    position: static;
  }

  .wp-block-maxgruson-multimedia-gallery:not(.block-editor-block-list__block):has(li:nth-child(2)), 
  .wp-block-maxgruson-multimedia-gallery .block-editor-block-list__layout:has(li:nth-child(2)) {
    display: flex;
    gap: 1em;
    width: max-content;
    padding: 0 calc(24px + 2em) 1em 1em;
    position: static;
    max-width: initial;
  }

  .wp-block-maxgruson-multimedia-gallery .block-editor-block-list__layout:has( .block-list-appender:only-child ),
  .wp-block-maxgruson-multimedia-gallery .block-editor-block-list__layout:empty
   {
    width: 100%;
    height: 4em;
    border: solid 1px black;
  }

  .components-placeholder__fieldset {
    flex-basis: 100%;
  }

  .block-editor-block-list__block .block-list-appender {
    top: 50% !important;
    left: 50% !important;
    right: initial !important;
    bottom: initial !important;
    translate: -50% -50% !important;
    width: auto !important;
    position: absolute !important;
  }
 }