/**
 * The following styles get applied both on the front of your site and in the editor
*/
body {
  .wp-block-maxgruson-multimedia-gallery {
    margin: 1em 0;

    .multimedia-gallery__list {
      padding: 0;
    }

    .splide__pagination__page.is-active {
      border: #ccc solid 1px;
    }

    &.splide {
      .splide__slide:not(.is-active) {
        pointer-events: none;
      }

      figure {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      figcaption {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 1.5em;
        color: white;
        opacity: .7;
        text-shadow: #111 1px 1px 3px;
        pointer-events: none;
      }
    }

    &:not(.splide) {
      .splide__slide {
        text-align: center;
      }
      .multimedia-gallery__link {
        display: inline-block;
      }
      .img-container {
        max-height: 80vh;
      }
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      height: 36px;
      width: 36px;
      border-radius: 100%;
      padding: 10px;
    }
  }
}